.sidebar {
  position: fixed;
  top: 40px;
  left: 0;
  bottom: 0;
  width: 200px;
  background-color: #24344b;
  overflow-x: hidden;
  padding-top: 20px;
  z-index: -1;
  color: white;
}
.sidebar > div {
  padding: 10px;
  text-align: center;
}
.sidebar > div:hover {
  cursor: pointer;
}
.sidebar a {
  text-decoration: none !important;
  color: white;
}

.sidebar a:hover {
  color: white;
}

.sidebar div:hover {
  background-color: #3b4f6a;
}

.sidebar_items {
  display: flex;
}

.sidebar_items svg {
  margin-left: 30px !important;
}

.sidebar_items a {
  margin-left: 10px !important;
  margin-top: -3px !important;
}
